<h1>Pages#home</h1>
<%= AssetRam::Helper.cache { image_tag("image1.jpg", class: 'home-image', loading: 'lazy') } %>
<%= AssetRam::Helper.cache { image_tag("image2.jpg", class: 'home-image', loading: 'lazy') } %>
<%= AssetRam::Helper.cache { image_tag("image3.jpg", class: 'home-image', loading: 'lazy') } %>
<%= AssetRam::Helper.cache { image_tag("image4.jpg", class: 'home-image', loading: 'lazy') } %>
<%= AssetRam::Helper.cache { image_tag("image5.jpg", class: 'home-image', loading: 'lazy') } %>
<%= AssetRam::Helper.cache { image_tag("image6.jpg", class: 'home-image', loading: 'lazy') } %>
